@charset "UTF-8";

/*=============================================================================
全般
=============================================================================*/
* {
}
body {
	width:  850px;
	height: 580px;
	background-color:  #FFFACD ;
}

/*=============================================================================
ヘッダー
=============================================================================*/
div#header {
	height: 80px;	/*背景画像のサイズに合わせてボックスの高さを指定*/
	width:  850px;
	position : relative;
}

/*=============================================================================
コンテンツ
=============================================================================*/
.newinfo {
	width:  830px;
	height: 300px;
	background-color: white;
	text-align: left;
	border: 3px #FFA500 solid;
	font-size: 24px;
	margin: 0px auto;
	overflow: scroll;
}
.newinfo_ch {
	width:  530px;
	height: 390px;
	background-color: white;
	text-align: left;
	border: 3px #FFA500 solid;
	font-size: 20px;
	margin: 0px auto;
	overflow: scroll;
}
.newinfo_ans {
	width:  830px;
	height: 475px;
	background-color: white;
	text-align: left;
	border: 3px #FFA500 solid;
	font-size: 24px;
	margin: 0px auto;
	overflow: scroll;
}
.searcharea {
	width:  550px;
	height: 51px;
	font-size: 18px;
	float: left;
	font-weight: bold;
}

.login{
	/*IE6では中央によらないらしい*/
	border-style: none;
	width:  300px;
	height: 200px;
	margin: 0 auto;
}


.channels {
	width: 850px;
	background-color:  #FFFACD ;
        display: table;
        table-layout:fixed;
}
.channels_ch {
	width: 540px;
	background-color:  #FFFACD ;
        display: table;
        table-layout:fixed;
}
.cnl {
	float: left;
	margin: 15px;
}

.cnl2 {
	margin: 15px;
	float: left;
	font-size: 15px;
}

.cnlimgleft {
	float: left;
	margin: 8px;
}

.cnlimgright {
	float: right;
	margin: 8px;
}

.cnlstrleft {
	float: left;
	margin: 10px;
	font-size: 24px;
	background: #7f7f7f;
	color: #ffffff;
	margin: 10px;
}

.cnlstrleft_ch {
	float: left;
	margin: 8px 5px 8px 5px;
	font-size: 20px;
	background: #7f7f7f;
	color: #ffffff;
}

.cnlmove {
	margin: 8px 15px;
	float: left;
	display: table;
	vertical-align: middle;
	table-layout:fixed;
}

image {
	border: none;
}

/*=============================================================================
一覧
=============================================================================*/
table , td, th {
	border-collapse: collapse;
	font-size: 18px;
}

table , th {
	border: 1px solid #595959;
}

td, th {
	padding: 3px;
	height: 40px;
/* 	white-space : nowrap; */
}
th {
	background: #f0e6cc;
}
td {
	border-top: 1px solid #595959;
	border-bottom: 1px solid #595959;
}

/*=============================================================================
一覧ストライプ
=============================================================================*/

.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}

/*=============================================================================
一覧カラム
=============================================================================*/
.columnd{
	width: 30px;
}

.column1{
	width: 600px;
}

.column2{
	width: 600px;
}

.column3{
	width: 100px;
	text-align: center;
}

.column3new{
	width: 100px;
	text-align: center;
	background: #FF99CC;
	color: #ffffff;
}

.column3red{
	width: 100px;
	text-align: center;
	background: #ff0000;
	color: #ffffff;
}

.column4new{
	border-left: 1px solid #595959;
	width: 280px;
	text-align: center;
}

.column4{
	border-left: 1px solid #595959;
	width: 140px;
	text-align: center;
}
.column5{
 	width: 110px;
	text-align: center;
}

/*=============================================================================
アンケート
=============================================================================*/
.question{
	border-style: solid ;
	border-width: 1px;
	font-size: 18px;
	width:  800px;
	height: 180px;
	margin: 10px;
	overflow: scroll;
}

.join{
	border-style: none ;
	border-width: 1px;
	font-size: 18px;
	width:  175px;
	height: 200px;
	float: left;
	margin: 10px;
}
.selection{
	border-style: none ;
	border-width: 1px;
	font-size: 18px;
	width:  800px;
	height: 200px;
	float: left;
	margin: 10px;
}

.position{
	border-style: none ;
	border-width: 1px;
	font-size: 18px;
	width:  175px;
	height: 200px;
	float: right;
	margin: 10px;
}

/*=============================================================================
 店舗ステータス参照画面
=============================================================================*/
/* 参照画面へのリンク */
.gift-status-link {
	position: absolute;
	top : 8px;
	left : 320px;
	padding : 4px 12px;
	background : #Fcc;
	color : #F00;
	border : 1px solid #F00;
	text-decoration : none;
}
/* 検索条件 */
.gift-search-condition {
	margin : 10px;
	clear: both;
	width : 850px;
	position : relative;
}
/* 検索結果数 */
.gift-search-count {
    height: 20px;
    position : absolute;
    right : 20px;
    top : 0;
}
.gift-search-count P {
    margin-left: 10px;
    float: left;
}
/* 検索結果 */
.gift-search-result th, .gift-search-result td {
	border-left : 1px solid #000;
	font-size : 0.85em;
	text-align : center;
}
/* 申込書画像 */
.gift-scan-image img {
	width : 100%;
}

/*=============================================================================
フッター
=============================================================================*/

.hutta {
	width: 175px;
	height: 200px;
}

/*=============================================================================
ボタン
=============================================================================*/

a.cp_btn {
	position: relative;
	display: inline-block;
	width: 110px;
	padding: 6px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
	background: #023894;
	transition: .4s;
}

a.cp_btn2 {
	position: relative;
	display: flex;
	*display: block;
	justify-content: center;
	align-items: center;
	width: 100px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
	background: #023894;
	transition: .4s;
	height: 80px;
}

a.cp_btn:hover {
    color: #FF9;
    background-color: #025894;
}

a.cp_btn2:hover {
	text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px
		rgba(255, 255, 240, 0.83);
	transition: .4s;
}

button.cp_btn {
	font-size: 100%;
	font: inherit;
	position: relative;
	display: inline-block;
	width: 120px;
	padding: 6px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
	background: #023894;
	transition: .4s;
	border-style: none;
}
button.dsp_btn {
	font-size: 18px;
	font-weight: bold;
	padding: 6px 18px;
}

button.dsp_btn:hover {
	cursor:pointer;
}
